# vim: set filetype=conf:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ ly_config_path }}.sample
# Upstream config source:
#   https://github.com/fairyglade/ly/blob/master/res/config.ini

# Xorg server command path
x_cmd = {{ xorg_server_cmd }}

# Xorg Xauthority command path
xauth_cmd = {{ xorg_xauth_cmd }}

# dir path for externally-installed WM/DE '.desktop' files (used in Ly menu)
xsessions = {{ xsessions_dir }}

# Ly Xorg setup script path
x_cmd_setup = {{ ly_xsetup_script }}

# dir path for externally-installed WM/DE Wayland session files (used in Ly menu)
waylandsessions = {{ wayland_sessions_dir }}

# add Wayland specifier to session names
wayland_specifier = {{ 'true' if add_wayland_session_specifier else 'false' }}

# Ly Wayland setup script path
wayland_cmd = {{ ly_wayland_setup_script }}

