# vim: set filetype=conf:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ ly_config_path }}.sample
# Upstream config source:
#   https://github.com/fairyglade/ly/blob/master/res/config.ini

# default input field on startup
default_input = {{ '0' if (default_input_on_startup == 'session') else ('1' if (default_input_on_startup == 'login_name') else '2') }}

# password-mask character
asterisk = {{ password_mask_char }}

# erase password input on login failure
blank_password = {{ 'true' if erase_password_on_fail else 'false' }}

# show main box borders
hide_borders = {{ 'false' if show_main_box_borders else 'true' }}

# foreground color ID
fg = {{ fg_color_id }}

# background color ID
bg = {{ bg_color_id }}

# Ly service name
service_name = {{ ly_service_name }}

# system default PATH environment var
path = {{ path_env_var }}

# save login (user & session) used
save = {{ 'true' if save_and_load_login else 'false' }}

# load the saved login (user & session) on next Ly start as defaults
load = {{ 'true' if save_and_load_login else 'false' }}

# login save file path (saves which user and session logged in)
save_file = {{ login_save_path }}

# cookie-generator command path
mcookie_cmd = {{ cookie_gen_cmd }}

# Xorg server command path
x_cmd = {{ xorg_server_cmd }}

# Xorg Xauthority command path
xauth_cmd = {{ xorg_xauth_cmd }}

# dir path for externally-installed WM/DE '.desktop' files (used in Ly menu)
xsessions = {{ xsessions_dir }}

# Ly Xorg setup script path
x_cmd_setup = {{ ly_xsetup_script }}

# dir path for externally-installed WM/DE Wayland session files (used in Ly menu)
waylandsessions = {{ wayland_sessions_dir }}

# add Wayland specifier to session names
wayland_specifier = {{ 'true' if add_wayland_session_specifier else 'false' }}

# Ly Wayland setup script path
wayland_cmd = {{ ly_wayland_setup_script }}

# main console command
console_dev = {{ console_cmd }}

# command to reset (i.e. clear) the terminal
term_reset_cmd = {{ terminal_reset_cmd }}

# system-shutdown command (called from Ly menu)
shutdown_cmd = {{ system_shutdown_cmd }}

# system-restart command (called from Ly menu)
restart_cmd = {{ system_restart_cmd }}

# event timeout, in milliseconds
min_refresh_delta = {{ event_timeout_ms }}

